/* Split Pane Styles */
.gutter {
    background-color: #e2e8f0;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter:hover {
    background-color: var(--primary-color);
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 5px;
}

.gutter.gutter-vertical {
    cursor: row-resize;
    height: 5px;
}

.panel-transition {
    transition: width 0.2s ease, height 0.2s ease;
} 